body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#main {
  display: flex;
}

#main > * {
  margin: 5px;
  align-self: center;
}

#user_input {
  width: 100px;
}

#answer {
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

#spinner {
  display: none;
}

.alert {
  font-size: 0.8rem;
  width: 9rem;
  padding: 3px;

  margin-left: 87px;
  display: block;
  transition: all 1s ease-out;
  opacity: 0;
  border-color: gray;
}

body {
  padding: 60px;
}

.results {
}

#spinner2 {
  position: relative;
  top: -42px;
  left: 110px;
}
